<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/671a6667b5.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <img src="https://user-images.githubusercontent.com/49769068/83082738-df70f480-a049-11ea-8b2d-747de7054183.png" style="width:100%"alt="">
      <h1 class="top-left">TravelHub</h1>
      <div class="top-left-icons"><i class="fas fa-passport fa-6x" style="color: #fbf955; text-align: center;"></i>  <i class="fas fa-plane-departure fa-6x" style="color: #fbf955; text-align: center;"></i></div>
      <a href="/" class="top-right">Home</a>
      <h1 class="title-text">TravelHub</h1>
    </div>
    <%= yield %>
  </body>
</html>
